<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <title>ตาฟาง Book Store</title>
</head>

<body>
    <div class="uk-container uk-container-expand ">
        <div class="uk-grid-collapse uk-child-width-1-4@s font-prompt" uk-grid>
            <div>
                <div class="uk-background-default uk-padding uk-padding-remove-bottom ">
                    <h3 class="font-prompt"><i class="fas fa-book"></i><b class="uk-text-large"> ตาฟาง</b> Book Store</h3>
                </div>
            </div>
            <div>
                <div class="uk-background-default uk-padding"></div>
            </div>
            <div>
                <div class="uk-background-default uk-padding"></div>
            </div>
            <div>
                <div class="uk-background-default uk-padding uk-align-right">
                    <button class="uk-button uk-button-default"><i class="fas fa-shopping-cart"></i></button>
                    <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">รายการหนังสือ</li>
                            <li><a href="#">หนังสือ 1</a></li>
                            <li><a href="#">หนังสือ 2</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">จ่ายเงิน</a></li>
                            <li><a href="#">ลบรายการทั้งหมด</a></li>
                        </ul>
                    </div>
                    <button class="uk-button uk-button-default">เข้าสู่ระบบ</button>
                </div>
            </div>
        </div>
        

        <ul class="uk-breadcrumb font-prompt">
                <li><a href="http://127.0.0.1:5000/">Home</a></li>
                <li class="uk-disabled"><a>ค้นหาหนังสือ</a></li>
                <li><span>รายละเอียดของหนังสือ</span></li>
        </ul>

        <div class="uk-width-1-1">
            <h1 class="uk-margin-left uk-margin-top uk-heading-line font-prompt"><span>รายละเอียดของหนังสือ</span></h1>
        </div>

        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center font-prompt" uk-grid>
                <div>
                        <div class="uk-background-default uk-padding uk-light">
                                <img data-src="https://images-na.ssl-images-amazon.com/images/I/81IhAqN6uqL.jpg" sizes="(min-width: 325px) 650px, 100vw" width="325" height="216" alt="" uk-img>
                        </div>
                </div>
                <div>
                    <div class="uk-background-default uk-padding uk-text-left">
                            <p><b>ชื่อหนังสือ</b> อะไรก็ได้มั้ง</p>
                            <p><b>ผู้แต่ง</b> อะไรก็ได้มั้ง</p>
                            <p><b>ประเภท</b> อะไรก็ได้มั้ง</p>
                            <p><b>อธิบายโดยย่อ</b> อะไรก็ได้มั้ง</p>
                            <button class="uk-button uk-button-primary">ใส่ในตะกร้า</button>
                    </div>
                </div>
                <div>
                        <div class="uk-background-default uk-padding"></div>
                </div>
                
                
        </div>
        

    </div>
</body>

<script src="https://kit.fontawesome.com/1ddc0f7b0c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit-icons.min.js"></script>

</html>