<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <title>ตาฟาง Book Store</title>
</head>

<body>
        <div class="uk-container uk-container-expand ">
                <div class="uk-grid-collapse uk-child-width-1-4@s font-prompt" uk-grid>
                    <div>
                        <div class="uk-background-default uk-padding uk-padding-remove-bottom ">
                            <h3 class="font-prompt"><i class="fas fa-book"></i><b class="uk-text-large"> ตาฟาง</b> Book Store</h3>
                        </div>
                    </div>
                    <div>
                        <div class="uk-background-default uk-padding"></div>
                    </div>
                    <div>
                        <div class="uk-background-default uk-padding"></div>
                    </div>
                    <div>
                        <div class="uk-background-default uk-padding uk-align-right">
                            
                        </div>
                    </div>
                </div>
                
                <h1 class="uk-text-center uk-text-success"><i class="fas fa-check-circle"></i></h1>
                <h2 class="uk-text-center font-prompt">ชำระเงินเรียบร้อย</h2>
                <button onclick='self.location.href="/"' class="uk-button uk-button-text uk-align-center font-prompt">กลับสู่หน้าหลัก</button>
                
                <div class="uk-margin-medium-left font-prompt">
                        <dl class="uk-description-list uk-description-list-divider ">
                        </dl>
                </div>
                <div class="uk-margin-medium-left font-prompt uk-align-right">
                </div>

                
        
            </div>
</body>


<script src="https://kit.fontawesome.com/1ddc0f7b0c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit-icons.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</html>
