<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <title>ตาฟาง Book Store</title>
</head>

<body>
        <div class="uk-container uk-container-expand ">
                <div class="uk-grid-collapse uk-child-width-1-4@s font-prompt" uk-grid>
                    <div>
                        <div class="uk-background-default uk-padding uk-padding-remove-bottom ">
                            <h3 class="font-prompt"><i class="fas fa-book"></i><b class="uk-text-large"> ตาฟาง</b> Book Store</h3>
                        </div>
                    </div>
                    <div>
                        <div class="uk-background-default uk-padding"></div>
                    </div>
                    <div>
                        <div class="uk-background-default uk-padding"></div>
                    </div>
                    <div>
                        <div class="uk-background-default uk-padding uk-align-right">
                            
                            <button class="uk-button uk-button-default" disabled>{{ user_id }}</button>
                        </div>
                    </div>
                </div>
                
        
                <ul class="uk-breadcrumb font-prompt">
                        <li><a href="http://127.0.0.1:5000/">Home</a></li>
                        <li><span>ชำระเงิน</span></li>
                </ul>
        
                <div class="uk-width-1-1">
                    <h1 class="uk-margin-left uk-margin-top uk-heading-line font-prompt"><span>ตะกร้าสินค้า</span></h1>
                </div>
                
                <div class="uk-margin-medium-left font-prompt">
                        <dl class="uk-description-list uk-description-list-divider ">
                            {% if list_book == [] %}
                                <h2 class="font-prompt uk-text-center">ไม่มีรายการชำระเงิน</h2>
                            {% endif %}
                            {% for data_set in list_book %}
                                <dt class="uk-text-bold uk-text-large"><b>{{ data_set[0] }}</b> </dt>
                                <dd><b>{{ data_set[5] }}</b> เหรียญ</dd>
                            {% endfor %}
                            
                                
                            
                        </dl>
                </div>
                {% if list_book != [] %}
                
                    
                
                <div class="uk-margin-medium-left font-prompt uk-align-right">
                    <button id="removeCart_Button" class="uk-button uk-button-primary uk-button-large">ยืนยันการชำระเงิน</button>
                </div>
                <div class="uk-align-right font-prompt">
                    <p>ยอดรวม <b class="uk-text-bold uk-text-large uk-text-success">{{ total_cost }}</b> เหรียญ</p>
                </div>
                {% endif %}

                
        
            </div>
</body>


<script src="https://kit.fontawesome.com/1ddc0f7b0c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit-icons.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $('#removeCart_Button').on('click',function() {
        $.ajax({
            url: "/removeCart",
            type: "POST",
            data: {

            } ,
            success: function (response) {
                self.location.href="/paysuccess";
                
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    });
</script>
</html>
